body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background-color: #f9fafb;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #0a66c2;
  color: white;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

.nav-links a:hover {
  text-decoration: underline;
}